<div class="ngdialog-message">
    <div class="">
        <h3>Book Appoitment </h3>
    </div>
    
    <div class="">&nbsp;</div>
        <div class="">
            <form role = "form" name = "appForm" ng-submit="bookAppoitment()">
                 <div class="form-group" ng-class="{ 'has-error' : appForm.staff.$error.required && !appForm.staff.$pristine }">
                    <label class="sr-only" for="staff">Staff</label>
                    
                    <select name="staff" id = "staff" ng-model="appoitment.staff" ng-options="staff.firstName + ' ' + staff.lastName for staff in staffs track by staff._id " required>
                        <option value="">Select Staff</option>
                    </select>

                    <span ng-show="appForm.staff.$error.required && !appForm.staff.$pristine" class="help-block">Staff is required.</span>
                 </div>
                 
                 <div class="form-group" ng-class="{ 'has-error' : appForm.service.$error.required && !appForm.service.$pristine }">   
                    <label class="sr-only" for="service">Service</label>
                    
                    <select name="service" ng-model="appoitment.service" ng-options="service.name for service in services track by service._id " required>
                        <option value="">Select Service</option>
                    </select>

                    <span ng-show="appForm.service.$error.required && !appForm.service.$pristine" class="help-block">Service is required.</span>
                 </div> 
                 
                 <div class="form-group" ng-class="{ 'has-error' : appForm.customer.$error.required && !appForm.customer.$pristine }">  
                    <label class="sr-only" for="customer">Customer</label>
                    
                    <select name="customer" ng-model="appoitment.customer" ng-options="customer.firstName + ' ' + customer.lastName for customer in customers track by customer._id " required>
                        <option value="">Select Customer</option>
                    </select>

                    <span ng-show="appForm.customer.$error.required && !appForm.customer.$pristine" class="help-block">Customer is required.</span>  
                 </div>
                 
                 <div class="form-group" ng-class="{ 'has-error' : appForm.date.$error.required && !appForm.date.$pristine }">   
                   <label class="sr-only" for="date">When</label> 
                   <input type="datetime-local" id="date" name="date" ng-model="appoitment.date"
                    placeholder="yyyy-MM-ddTHH:mm" required/>
                    <span ng-show="appForm.date.$error.required && !appForm.date.$pristine" class="help-block">Date is required.</span>
                 </div>

                 <div class="form-group"> 
                    <label class="sr-only" for="note">Note</label>
                    <textarea id = "note" placeholder = 'Enter note if needed...' ng-model="appoitment.note"></textarea>
                 </div>    
                
                 <button type="submit" class="btn btn-info btn-sm" ng-disabled="appForm.$invalid">Book</button>
                 <button type="button" class="btn btn-default btn-sm" ng-click=closeThisDialog("Cancel")>Cancel</button>
            </form>
        </div>
</div>