<div class="container">

     <div class="row row-content">
        <div class="col-xs-12 col-sm-9">

            <div class="table-responsive">
	            <table class="table table-striped">
	                    <tr>
	                        <th>
	                            Name
	                        </th>
	                        <th>
	                            Phone
	                        </th>
	                        <th>
	                            Email
	                        </th>
	                        <th>
	                            Adress
	                        </th>
	                    </tr>
	                    <tbody>
                			<tr ng-repeat="customer in customers">
                    			
                    			<td>{{customer.firstName}} {{customer.lastName}}</td>
                    			<td>{{customer.phone}}</td>
                    			<td>{{customer.email}}</td>
                    			<td>{{customer.address}}</td>
                    			<td><button ng-click="deleteCustomer(customer)" class="btn btn-xs btn-danger" type="button"><i class="fa fa-remove"></i></button></td>
                    			
                			</tr>
            			</tbody>
	                    
	                </table>
                </div>
            </div>
             <div class="col-xs-12 col-sm-3">
                <p style="padding:20px;"></p>
                <button ng-click = 'openCustomerDialog()' class="btn btn-xs btn-primary pull-right" type="button">Add Customer</button>
            </div>
    </div> 
</div>