 <div class="container">

        <div class="row row-content">
            <div class="col-xs-12 col-sm-9">
                <h4>This Week's Upcoming Schedules</h4>
                <div class="table-responsive">
	                <table class="table table-striped">
	                    <tr>
	                        <th>
	                            When
	                        </th>
	                        <th>
	                            Customer
	                        </th>
	                        <th>
	                            Staff
	                        </th>
	                        <th>
	                            Service
	                        </th>
	                    </tr>
	                    <tbody>
                			<tr ng-repeat="schedule in schedules">
                    			
                    			<td>{{schedule.date * 1000 | date:'dd-MM-yyyy HH:mm'}}</td>
                    			<td>{{schedule.customer.firstName}} {{schedule.customer.lastName}}</td>
                    			<td>{{schedule.staff.firstName}} {{schedule.staff.lastName}}</td>
                    			<td>{{schedule.service.name}}</td>
                    			<td><button ng-click="updateAppointment(schedule)" class="btn btn-xs btn-edit" type="button"><i class="fa fa-edit"></i></button></td>
                                <td><button ng-click="deleteAppointment(schedule)" class="btn btn-xs btn-danger" type="button"><i class="fa fa-remove"></i></button></td>
                			</tr>
            			</tbody>
	                    
	                </table>
                </div>
            </div>
             <div class="col-xs-12 col-sm-3">
                <p style="padding:20px;"></p>
                <button ng-click = "openAppoitment()" class="btn btn-xs btn-primary pull-right" type="button">Book Appoitment
                </button>
            </div>
       </div> 
    </div>